<header class='top-page-header'>
  <%= link_to 'GOAL_APP_', root_path, class: "app-title" %>
  <div class='nav'>
    <ul class='lists-right'>
        <% if current_user.position_id == 2 %>
          <% if current_page?(admin_users_path) %>
            <li><%= link_to '一般ページ', root_path, class: 'header-text' %></li>
          <% else %>
            <li><%= link_to '管理者ページ', admin_users_path, class: 'header-text' %></li>
          <% end %>
        <% end %>
        <li><%= link_to current_user.last_name, "#", class: "user-last-name" %></li>
        <li class='header-text'>達成目標数：<%= current_user.goal_count %></li>
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li>
    </ul>
  </div>
</header>